@use 'layout';

header img {
  max-height: 70%;
}

header.profile {
  height: 400px;

  @include layout.flex($direction: column, $align: center, $justify: space-evenly);

  padding-top: 120px;

  background-color: #98d8f0;
  background-image: url("https://www.transparenttextures.com/patterns/60-lines.png");
}


@media (min-width:1024px) {
  header.profile {
    width: 30%;
    padding: 0px;
  }
}
