@use 'layout';

$nav-text-color: #fff;

nav {
  height: 120px;
  width: 100%;
  
  color: $nav-text-color;
  padding: 0 1.5em 0 1.5em;

  @include layout.flex($align: center, $justify: space-between);

  /*z-index: 2;*/
  position: absolute;
  top: 0px;

  span {
    font-family: layout.$bungee;
    font-size: 1.5em;
  }

  .nav-new-tweet {
    @include layout.flex($direction: column, $align: center);
  }

  .fa-angle-double-down {
    color: red;
  }

}

@media (min-width:1024px) {
  nav {
    background-color: layout.$tweeter-blue;
    position: sticky;
  }
}