@use 'layout';

.new-tweet {
  width: 100%;
  margin: 0 auto;

  display: none;
}

.new-tweet label {
  font-weight: bold;
}

.new-tweet form {
  height: 160px;

  @include layout.flex($direction: column, $justify: space-between);
}

.new-tweet form textarea {
  background-color: transparent;
  border: none;
  border-bottom: 5px solid layout.$line-color;
  resize: none;
}

.new-tweet form div {
  width: 100%;

  @include layout.flex($justify: space-between);
}

.new-tweet form button {
  background-color: layout.$tweeter-blue;
  color: #fff;

  font-family: layout.$bungee;

  border: none;

  padding: 4px 10px;
}

.counter {
  font-family: layout.$bungee;

  /* so that the error message stays in the same centred spot, we want this to have a fixed width */
  width: 10%;
  text-align: right;
}

.invalid {
  color: layout.$error-color;
}

.error-message {
  display: none;
  color: layout.$error-color;
}
